<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оставить контакты</title>
</head>
<body style="position: absolute;
width: 1600px;
height: 1080px;
left: 150px;
top: 0px;

background: #242424;">

{% include 'includes/header.html' %}

<h1 style="position: absolute;
width: 587px;
height: 54.83px;
left: 656px
top: 176px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 48px;
color: #FFFFFF;
">Оставьте свои контакты для связи</h1>

<h2 style="position: absolute;
width: 262px;
height: 47px;
left: 656px;
top: 238px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;

color: #FFFFFF">Пункты отмеченные “*” - обязательны к заполнению</h2>
<from action="">
    <h2 style="position: absolute;
    width: 104.56px;
    height: 21.04px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.22)">Full name*</h2>
    <div style="position: absolute;
    width: 478.01px;
    height: 43.19px;

    background: #333333;">
        <input type="text">
    </div>

    <h2 style="position: absolute;
    width: 58px;
    height: 19px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.22);">Email*</h2>
    <div style="position: absolute;
    width: 478.01px;
    height: 43.19px;

    background: #333333;">
        <input type="text">
    </div>

    <h2 style="position: absolute;
    width: 137px;
    height: 19px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.22);
    ">Phone number*</h2>
    <div style="position: absolute;
    width: 478.01px;
    height: 43.19px;

    background: #333333;">
        <input type="text">
    </div>

    <h2 style="position: absolute;
    width: 92px;
    height: 19px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.22);
    ">Instugram</h2>
    <div style="position: absolute;
    width: 478.01px;
    height: 43.19px;

    background: #333333;">
        <input type="text">
    </div>

    <h2 style="position: absolute;
    width: 78.67px;
    height: 21.04px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.22);
    ">Facebook</h2>
    <div style="position: absolute;
    width: 478.01px;
    height: 43.19px;

    background: #333333;">
        <input type="text">
    </div>
</from>

{% include 'includes/footer.html' %}
</body>
</html>