{% extends 'index.html' %}

{% block content %}

<p>
    <img src="/my_portfolio/templates/images/IMG_8532.jpg" width="480" height="480"
         style="position: absolute;
         left: 407px;
         top: 235px;">
</p>

<h1 style="position: absolute;
width: 480px;
height: 107px;
left: 927px;
top: 300px;

font-family: Segoe UI;
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 48px;

color: #FFFFFF;
">Проектирую удобные и недорогие в разработке сайты под задачи бизнеса</h1>
<h2 style="position: absolute;
width: 436px;
height: 138px;
left: 927px;
top: 480px;

font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Привет! Меня зовут Даниил Астафоров.
 Я веб-дизайнер из Киева. Моя специализация: UX/UI-дизайн, верстка, разработка функиционала на Python.
    У меня можно заказать разработку сайта под ключ, либо любую из работ отдельно.</h2>

<a href="https://www.behance.net/danastaf/" style="position: absolute;
width: 98px;
height: 37.22px;
left: 927px;
top: 633px;

font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">behance</a>
<h1 style="position: absolute;
width: 212px;
height: 26.88px;
left: 1057px;
top: 621px;

font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">dan.astaf17@gmail.com</h1>

<h1 id="projekts" style="
position: absolute;
width: 80px;
height: 24px;
left: 407px;
top: 1496px;

font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;



color: #FFFFFF;">Проект 1</h1>

<h2 style="position: absolute;
width: 323px;
height: 24px;
left: 407px;
top: 1517px;

font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Описание</h2>

<h1 style="position: absolute;
width: 80px;
height: 24px;
left: 927px;
top: 1496px;

font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Проект 2</h1>

<h2 style="position: absolute;
width: 323px;
height: 24px;
left: 927px;
top: 1517px;

font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Описание</h2>

<h1 style="position: absolute;
width: 80px;
height: 24px;
left: 407px;
top: 2101px;

font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Проект 3</h1>

<h2 style="position: absolute;
width: 323px;
height: 24px;
left: 407px;
top: 2125px;

font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;">Описание</h2>

<h1 style="position: absolute;
width: 80px;
height: 24px;
left: 927px;
top: 2101px;

font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Проект 3</h1>

<h2 style="position: absolute;
width: 323px;
height: 24px;
left: 927px;
top: 2125px;

font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;">Описание</h2>

<a href="/all_projects/" style="position: absolute;
width: 124px;
height: 24px;
left: 820px;
top: 2273px;


font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">ВСЕ ПРОЕКТЫ</a>

<h1 id="info" style="position: absolute;
width: 166px;
height: 38px;
left: 407px;
top: 2516px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;

color: #FFFFFF;">ПРОЦЕСС</h1>

<h1 style="position: absolute;
width: 433px;
height: 154px;
left: 927px;
top: 2516px;

font-family: Segoe UI;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 32px;

color: #FFFFFF;">Создание цифрового продукта происходит в несколько этапов: каждый из них согласуется с клиентом, после этого начинается работа над следующим этапом</h1>
<h1 style="position: absolute;
width: 135px;
height: 30px;
left: 927px;
top: 2691px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;

color: #FFFFFF;">Встреча</h1>
<h2 style="position: absolute;
width: 486px;
height: 77px;
left: 927px;
top: 2724px;

font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Встреча/онлайн-беседа. Оговаривание концепций, сроков, технических деталей продукта, согласование этапов, передача текстов, фото, гайдбуков. </h2>
<h1 style="position: absolute;
width: 121px;
height: 32px;
left: 927px;
top: 2813px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;

color: #FFFFFF;">Концепт</h1>
<h2 style="position: absolute;
width: 479px;
height: 93px;
left: 927px;
top: 2848px;

font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Создание, доработка, согласование визуального концепта сайта. Выполняю конкурентный анализ рынка.
Заполняем и согласовуем бриф проекта. Прототипирование. Составление технического задания.</h2>
<h1 style="position: absolute;
width: 218px;
height: 37px;
left: 927px;
top: 2953px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;

color: #FFFFFF;">Передача дизайна</h1>
<h2 style="position: absolute;
width: 448px;
height: 80px;
left: 927px;
top: 2993px;

font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Передача дизайна на верску (в случае разработки сайта на стороне) или разработка сайта с моей стороны</h2>

<h1 style="position: absolute;
width: 290px;
height: 29px;
left: 407px;
top: 3253px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;

color: #FFFFFF;">РЕЗУЛЬТАТ РАБОТЫ</h1>


<h1 style="position: absolute;
width: 174px;
height: 19px;
left: 927px;
top: 3260px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Дизайн-макет сайта</h1>
<h1 style="position: absolute;
width: 147px;
height: 46px;
left: 927px;
top: 3308px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Все графические
исходники</h1>
<h1 style="position: absolute;
width: 192px;
height: 42px;
left: 927px;
top: 3380px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Система графических
элементов сайта</h1>



<a id="contacts" href="/cust_contacts/" style="
position: absolute;
width: 403px;
height: 39px;
left: 721px;
top: 3600px;

font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;

color: #FFFFFF;">ОСТАВИТЬ КОНТАКТЫ</a>

{% endblock %}
