<header style="position: fixed;
width: 1600px;
height: 125px;
left: 115px;
top: 0px;
z-index: 1000;

background: #242424;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">


    <h1 style="position: absolute;
width: 132px;
height: 24.81px;
left: 300px;
top: 37.595px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">Daniil Astaforov</h1>

    <h1 style="position: absolute;
width: 167px;
height: 31.02px;
left: 493px;
top: 37.595px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;">UX/UI designer</h1>

    <a href="#projekts" style="position: absolute;
width: 77px;
height: 31px;
left: 820px;
top: 47px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
text-decoration-line: underline;

color: #FFFFFF;">Проекты</a>

    <a href="#info" style="position: absolute;
width: 49px;
height: 27px;
left: 1034px;
top: 47px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
text-decoration-line: underline;

color: #FFFFFF;">Инфо</a>

    <a href="#contacts" style="position: absolute;
width: 81px;
height: 27px;
left: 1220px;
top: 49px;

font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
text-decoration-line: underline;

color: #FFFFFF;">Контакты</a>



</header>